<html>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
       function onSubmit(token) {
         document.getElementById("form").submit();
       }
     </script>
</head>
<body>

<h1> Generate your password!</h1>
<form id="form" method="post">
    <p>Website: <input type="textfield" name="website" tabindex="1"></p>
    <p>Password: <input type="password" name="password" tabindex="2"></p>
    <p>Remove special chars: <input type="checkbox" name="rem" tabindex="3"></p>
    <p>Maximal length: <input type="textfield" name="length" value="44" tabindex="4"></p>
    <p><button class="g-recaptcha" data-sitekey="{{ key }}" data-callback='onSubmit' tabindex="5">Submit</button></p>
</form>

{% if password %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.prompt("Here ya go bud:", "{{ password }}");
    }, false);
</script>
{% endif %}

</body>
</html>